<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.mapper.ClassroomsMapper">

    <resultMap id="BaseResultMap" type="stu.pojo.Classrooms">
            <id property="roomNumber" column="room_number" jdbcType="VARCHAR"/>
            <result property="capacity" column="capacity" jdbcType="INTEGER"/>
            <result property="building" column="building" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        room_number,capacity,building
    </sql>
</mapper>
