<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.mapper.TeachersMapper">

    <resultMap id="BaseResultMap" type="stu.pojo.Teachers">
            <id property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="teacherName" column="teacher_name" jdbcType="VARCHAR"/>
            <result property="department" column="department" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        teacher_id,teacher_name,department
    </sql>
</mapper>
